static/assets/highcharts/highcharts.js filter=lfs diff=lfs merge=lfs -text
static/assets/highcharts/highcharts.js.map filter=lfs diff=lfs merge=lfs -text
static/assets/highcharts/themes/* filter=lfs diff=lfs merge=lfs -text
