[event]
checks_dir = "scripts"
event_end_time = 2017-11-04T19:30:00-05:00
intervals = "5s"
timeout = "4s"
on_break = false

[log]
# Levels: "debug", "info", "warn", "error"
level = "info"
# use stdout instead of a file
stdout = false

[database]
postgres_uri = "dbname=cyboard_test user=cybot host=/var/run/postgresql sslmode=disable"

# The double-brackets make an array of structs, zero-indexed.
# This is just a weird config file quirk, copy it for each script added and move on.
[[checks]]
# check.1
check_name = "ping"
filename = "check_ping"
points = [ 1, 0, 0 ]
args = "-H IP -w 200,50% -c 500,100% -t 5 -p 1"

[[checks]]
# check.2
check_name = "web"
filename = "check_http"
points = [ 10, 0, 0 ]
args = "-I IP -t 5"
disable = false

[[checks]]
check_name = "IP"
filename = "test.sh"
points = [ 10, 0, 0 ]
args = "IP"
disable = true
