appname = "CNY Hackathon"

[server]
ip = "127.0.0.1"
http_port = "8080"
https_port = "8081"
cert = "certs/cert.pem"
key = "certs/key.pem"

# Most CTF challenges do not show their name to any blue teams.
# Challenges in the following group will be displayed on a
# special page, making them known.
#special_challenges = ["Wireless", "Rusted Bunions"]

[log]
# Levels: "debug", "info", "warn", "error"
level = "info"
# use stdout instead of a file
stdout = false

[database]
mongodb_uri = "mongodb://127.0.0.1"
dbname = "scorengine"
