{{ define "content" }}
{{ template "teams-table" . }}
<hr/>
{{ template "teams-csv-upload" }}

{{ template "bs-teams-edit-modal" }}
{{ end }}

{{ define "teams-table" }}
<div class="teams-controls">
  <!-- TODO: Inputs for sorting, filtering, etc. -->
</div>

<h5>All Users</h5>
<div class="table-responsive">
  <table class="table table-sm table-hover config-table team-config-table">
    <thead><tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role <i class="fa fa-sm fa-question-circle-o"
title="'blueteam' are contestants.
'ctf_creator' manage ctf.
'admin' manage teams, service checks, and also ctf."></i></th>
      <th>Blueteam IP <i class="fa fa-sm fa-question-circle-o" title="Last IP octet for a team, used to identify them on the competition network."></i></th>
      <th>Disabled</th>
      <th>Controls</th>
    </tr></thead>
    <tbody>
      {{ range .Data.Teams }}
      <tr data-team-id='{{.ID}}'>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td><span class="badge role-{{.RoleName}}">{{.RoleName}}</span></td>
        <td>{{if .BlueteamIP}}{{.BlueteamIP}}{{end}}</td>
        <td>{{if .Disabled}}<i class="fa fa-lg fa-minus-circle text-danger" title="DISABLED"></i>{{end}}</td>
        <th><div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-warning btn-edit">
            <i class="fa fa-pencil"></i>
          </button>
        </div></th>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-secondary btn-add-team"
  data-toggle="modal" data-target="#team-edit-modal">
  <i class="fa fa-user-plus"></i> Add New Team
</button>
{{ end }}

{{ define "teams-csv-upload" }}
<div class="csv-upload">
  <div class="guidelines">
    <h5>Add Blue Teams via CSV</h5>
    <ul>
      <li>Blue Teams are the competitors in the event.</li>
      <li>The IP field is for blue teams, which  have a unique "significant IP octet" to
        identify them for infrastructure monitoring checks.</li>
      <ul>
        <li>E.G. We expect there to be a common network class prefix, such as 10.50.1.x ,
          where 'x' gets filled in by the IP field here.</li>
        <li>This makes the checks easier to maintain, but there are other ways they could be set up.</li>
      </ul>
      </li>
      <li>All leading spaces are trimmed, unless quotes ("") are used.</li>
    </ul>
  </div>
  <form class="row form-group">
    <textarea class="form-control text-monospace" rows="10"></textarea>
    <div class="offset-md-10 col-md-2">
      <button class="btn btn-secondary btn-block" type="submit">
        <i class="fa fa-upload"></i> Submit
      </button>
    </div>
  </form>
</div>
{{ end }}

{{ define "bs-teams-edit-modal" }}
<div class="modal fade" id="team-edit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit [Team]</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <form>
        <div class="modal-body">
          <input name="id" type="hidden" value="-1" />
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input name="name" class="form-control" type="text" required />
          </div>
          <div class="form-group">
            <label for="role_name" class="col-form-label">Role:</label>
            <select name="role_name" class="btn-block" required>
              <option>blueteam</option>
              <option>ctf_creator</option>
              <option>admin</option>
            </select>
          </div>
          <div class="form-group">
            <label for="blueteam_ip" class="col-form-label">Blueteam IP:</label>
            <input name="blueteam_ip" class="form-control" type="number" />
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input name="password" class="form-control" type="text" placeholder="{Unchanged}" />
          </div>
          <div class="form-group">
            <label for="disabled" class="col-form-label">Disabled:</label>
            <input name="disabled" type="checkbox" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger delete-team">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" href="/assets/css/staff/model-editors.css">
  <link rel="stylesheet" href="/assets/css/staff/teams.css">
{{ end }}

{{ define "scripts" }}
  <script src="/assets/lib/jquery-csv/jquery.csv.min.js"></script>
  <script src="/assets/js/staff/admin-utils.js"></script>
  <script src="/assets/js/staff/teams.js"></script>
{{ end }}
