{{ define "content" }}
{{ template "admin-scripts-table" . }}
{{ template "bs-script-run-modal" }}
{{ end }}

{{ define "admin-scripts-table" }}
<div class="row">
  <div class="offset-md-3 col-md-6 table-responsive">
    <h6 class="page-header">Service Scripts</h6>
    <table class="table table-sm table-bordered">
      <thead><tr>
          <th class="text-center">DL</th>
          <th>Filename</th>
          <th>Last Modified</th>
          <th>Size</th>
          <th class="text-right">Test Run</th>
        </tr></thead>
        <tbody>
          {{ range .Data.ScriptFiles }}
            <tr data-name="{{.Name}}">
              <td class="text-center"><i class="fa fa-download"></i></td>
              <td><a class="btn-block" href="/api/admin/scripts/{{.Name}}">{{.Name}}</a></td>
              <td>{{timestamp .ModTime}}</td>
              <td class="text-right">{{.Size}}</td>
              <th class="text-right">
                <button class="btn btn-xs btn-secondary btn-script-run">
                  <i class="fa fa-terminal"></i>
                </button>
              </th>
            </tr>
          {{ else }}
            <td>No script files available</td>
          {{ end }}
        </tbody>
    </table>
  </div>
</div>
{{ end }}

{{ define "bs-script-run-modal" }}
<div class="modal fade" id="scripts-run-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Test Run [Script]</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <form>
        <div class="modal-body">
          <input name="name" type="hidden" >
          <div class="form-group">
            <label for="args" class="col-form-label">Script Arguments:</label>
            <input name="args" class="form-control" type="text">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Run</button>
          </div>
          <hr />
          <div>
            <h5>Output:</h5>
            <pre></pre>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" href="/assets/css/staff/model-editors.css">
{{ end }}

{{ define "scripts" }}
  <script src="/assets/js/staff/admin-utils.js"></script>
  <script src="/assets/js/staff/scripts.js"></script>
{{ end }}
