{{ define "content" }}
<div class="jumbotron text-center">
  <h1>Welcome to the CNY Hackathon</h1>
  <div>
    <video autoplay loop muted playsinline>
      <source src="{{.Data.Video}}" type='video/webm;codecs="vp8, vorbis"' />
    </video>
  </div>
</div>
{{ end }}
