{{ define "content" }}
<div class="row">
  <form class="offset-sm-4 col-sm-4" action="/login" method="POST">
    <h5 class="page-header text-center">Login</h5>
    <div class="form-group">
      <label class="col-form-label" for="teamName">Team Name:</label>
      <input class="form-control form-control-sm" type="text" name="teamname" placeholder="team#1" required autofocus>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="password">Password: </label>
      <input class="form-control form-control-sm" type="password" name="password" placeholder="st0l3n cR3dz" required>
    </div>
    <button class="btn btn-secondary btn-block" type="submit">Sign in</button>
  </form>
</div>
{{ end }}
