{{ define "content" }}
<div class="bonus-award-panel pb-3">
  <h5>Award or Dock Bonus Points</h5>

  <form class="row">
    <div class="form-group offset-md-1 col-md-3">
      <label for="teams">Select Teams:</label>
      <select class="form-control" name="teams" multiple size="5" required>
        {{ range .Data.Blueteams }}
        <option value="{{.ID}}">{{.Name}}</option>
        {{ end }}
      </select>
    </div>
    <div class="col-md-7 text-right">
      <div class="form-group form-row">
        <label class="col-form-label col-md-2" for="points">Points:</label>
        <div class="col-md-10">
          <input class="form-control" type="number" name="points" required placeholder="50">
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label col-md-2" for="reason">Reason:</label>
        <div class="col-md-10">
          <input class="form-control" type="text" name="reason" placeholder="Pointed out a bug!">
        </div>
      </div>
      <div class="offset-md-2 col-md-10">
        <button class="btn btn-secondary btn-block" type="submit">
          <i class="fa fa-trophy"></i> Award/Dock Points
        </button>
      </div>
    </div>
  </form>
</div>

<h6>All other points awarded</h6>
<table class="table table-sm">
  <thead><tr>
    <th>Timestamp</th>
    <th>Teams</th>
    <th>Points</th>
    <th>Reason</th>
  </tr></thead>
  <tbody>
    {{range .Data.Bonus}}
    <tr>
      <td>{{kitchentime .CreatedAt}}</td>
      <td>{{StringsJoin .Teams ", "}}</td>
      <td>{{.Points}}</td>
      <td>{{.Reason}}</td>
    </tr>
    {{else}}
    <tr><p>...No other points awarded, yet</p></tr>
    {{end}}
  </tbody>
</table>
{{ end }}

{{ define "scripts" }}
  <script src="/assets/js/staff/admin-utils.js"></script>
  <script src="/assets/js/staff/bonus.js"></script>
{{end}}
