{{- define "footer" }}
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    {{- if eq .Title "challenges" }}
    <script src="/assets/js/flag.js"></script>
    {{- else if eq .Title "dashboard" }}
    <script src="/assets/js/dashboard.js"></script>
        {{- if eq .T.Group "admin" }}
        <script src="/assets/js/mindmup-editabletable.js"></script>
        <script src="/assets/js/admin-dashboard.js"></script>
        {{ end }}
    {{- else if eq .Title "scoreboard" }}
    <script src="/assets/js/ws.js"></script>
    <!-- Pull in Highcharts -->
    <script src="/assets/highcharts/highcharts.js"></script>
    <script src="/assets/highcharts/themes/dark-unica.js"></script>
    <script src="/assets/js/hc_scoreboard.js"></script>
    {{- else if eq .Title "services" }}
    <script src="/assets/js/serviceWs.js"></script>
    {{- end }}
</body>
</html>
{{- end }}
