.service-statuses,
.sv-row,
.sq {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.sv-row,
.sq {
    flex-flow: column nowrap;
}

.sv-row {
    flex-basis: 8.0em;
}

.sv-row .sq:first-child {
    flex-grow: 1;
}

.sq-team {
    align-items: flex-end;
}

.sq {
    color: white;
    border: 1px solid #252525;
    font-weight: bold;
    text-align: center;

    min-height: 2.5em;
    min-width: 4em;
}

.sq-label {
    border: 0;
    padding: 0 .4em;
    text-shadow: 1px 1px 10px #888;
}

.sq .fa {
    font-size: 2.25em;
}

.invisible {
    opacity: 0;
}

@media (max-width: 768px) {
    /* Transpose services display matrix */
    .service-statuses {
        flex-flow: column wrap;
        display: inline-flex;
        align-content: flex-start;
    }
    .sv-row {
        flex-flow: row nowrap;
        flex-basis: auto;
        justify-content: flex-start;
    }

    /* adjust row sizes, add banding effect, tilt team names upwards */
    .sq {
        font-size: 0.8em;
        min-height: 4em;
    }
    .sq .fa {
        font-size: 3em;
    }
    .sv-row:nth-child(even) {
        background-color: #141414;
    }
    .sq-team {
        transform: rotate(-80deg);
    }
}

/* Phonies */
@media (max-width: 450px) {
    .sq {
        font-size: .6em;
        min-height:5em;
    }

    .sq-service {
        font-size: .74em;
    }
}


.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.31, 0.12, 0.75, 0.92);
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%   { opacity: 1.0; }
    50%  { opacity: 0.0; }
    100% { opacity: 1.0; }
}
