.square-box {
    position: relative;
    width: 7%;
    overflow: hidden;
    float: left;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    border: 1px solid #252525;
}

.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}

.square-content .fa {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 6vw;
}

.square-content.labels span,
.square-content.labels-vert span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5vw;
    border: 0;
}

.square-content.labels,
.square-content.labels-vert {
    border: 0;
    text-shadow: 1px 1px 10px #888;
    font-weight: bold;
}

.square-content.labels span {
    vertical-align: center;
    transform: rotate(-60deg);
}

.square-content.labels span .teamnumber {
    color: #5DFC0A;
}

.square-content.labels-vert span {
    text-align: right;
    padding-right: 5px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.31, 0.12, 0.75, 0.92);
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%   { opacity: 1.0; }
    50%  { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media (min-width: 320px) {
    .square-box {
        width: 6%;
    }
    .square-content .fa {
        font-size: 4.5vw;
    }
}

@media (min-width: 768px) {
    .square-box {
        width: 7.6%;
    }
    .square-content .fa {
        font-size: 4.1vw;
    }
}

@media (max-width: 992px) {
    .square-content.labels span {
        font-size: 1.2vw;
    }
}

@media (min-width: 1200px) {
    .square-box {
        width: 72px;
    }
    .square-content .fa {
        font-size: 53px;
    }
    .square-content.labels-vert span {
        font-size: 17px;
    }
}
