.navbar-inverse .navbar-nav > li > a{
  color:#64CB2D;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color:#5DFC0A;
  background-color:transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  color:#5DFC0A;
  background-color:transparent;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
  color:#5DFC0A;
  background-color:transparent;
}

.navbar-inverse .navbar-link{
  color:#64CB2D;
}

a.list-group-item, button.list-group-item{
  color:#64CB2D;
}

.btn-default{
  color:#64CB2D;
  background-color:#424242;
  border-color:#424242;
}

.btn-default:hover{
  color:#5DFC0A;
  background-color:#282828;
  border-color:#232323;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:500;
  line-height:1.1;
  color:#5DFC0A;
}

body{
  font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#64CB2D;
  background-color:#060606;
}

