{{- template "header" . }}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div id="flag-list"></div>
            <div id="hiddenModal"></div>
        </div>
        <div class="col-md-4 col-xs-6">
        {{- $flags := getFlags }}
        {{- $hasFlags := hasFlag .T.Flags }}
        {{- range $flags }}
            {{- if  index $hasFlags .Flagname | not }}
            <div class="panel panel-primary">
            {{- else }}
            <div class="panel panel-default">
            {{- end }}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ .Flagname }}</h3>
                </div>
                <div class="panel-body">
                    <p>flagname: {{ .Flagname }}</p>
                    <p>challenge: {{ .Challenge }}</p>
                    <p>points: {{ .Points }}</p>
                    <p>description: {{ .Description }}</p>
                    <p>value: {{ .Value }}</p>
                </div>
            </div> 
        {{- end }}
        </div>
        </div>
    </div>
</div>
{{- template "footer" . }}
