{{ template "header" . }}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div id="flag-list"></div>
                <div id="hiddenModal"></div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}
