{{- define "footer" }}
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    {{- if eq .Title "challenges" }}
    <script src="/assets/js/flag.js"></script>
    {{- else if eq .Title "teampage" }}
    <script src="/assets/js/dashboard.js"></script>
    {{- else if eq .Title "scoreboard" }}
    <script src="/assets/js/ws.js"></script>
    {{- end }}
</body>
</html>
{{- end }}
