{{- define "header" -}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNYHackathon</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    {{- if eq .Title "services" }}
    <link rel="stylesheet" href="/assets/css/checks.css">
    {{- end }}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="https://www.cnyhackathon.org/">CNY Hackathon</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li role="presentation"><a href="/">Home </a></li>
                        <li role="presentation"><a href="/scoreboard">Scoreboard</a></li>
                        <li role="presentation"><a href="/team/services">Services</a></li>
                        {{- if .T.Name }}
                        <li role="presentation"><a href="/challenges">Challenges</a></li>
                        {{- end }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{- if .T.Name }}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="flase">
                                {{- .T.Name }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledy="download">
                                <li><a href="/team/dashboard">Dashboard</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        {{- else }}
                        <li role="presentation"><a href="/login">Login </a></li>
                        {{- end }}
                    </ul>
                </div>
            </div>
        </nav>
{{- end }}
