{{- template "header" . }}
<div class="jumbotron">
    <h1>Welcome to the CNY Hackathon</h1>
    <div class="row text-center">
    <iframe src="//giphy.com/embed/eCqFYAVjjDksg?html5=true&hideSocial=true" width="480" height="270" frameborder="0" class="giphy-embed" allowfullscreen=""></iframe>
    </div>
</div>
{{- template "footer" . }}
