{{ define "content" }}
{{/* close container, this page is a larger width */}}
</div>

<div class="fullscreen">
    <noscript>{{ template "noscript-scoreboard" . }}</noscript>
    {{ template "services-display-main" . }}
</div>

<div class="container">
{{ end }}

{{ define "noscript-scoreboard" }}
<table class="table table-striped table-hover scores-table">
    <thead>
        <tr>
            <th>Team</th>
            <th>Points</th>
            <th>CTF</th>
            <th>Services</th>
            <th>Other</th>
        </tr>
    </thead>
    <tbody id="scoreboard-table">
    {{- range $team := .Data.TeamsScores }}
        <tr id="{{ $team.Name }}">
            {{/* <td class="teamnumber">{{ $team.ID }}</td> */}}
            <td class="teamname">{{ $team.Name }}</td>
            <td class="points">{{ $team.Score }}</td>
            <td class="ctf">{{ $team.Ctf }}</td>
            <td class="service">{{ $team.Service }}</td>
            <td class="other">{{ $team.Other }}</td>
        </tr>
    {{- end }}
    </tbody>
</table>
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/assets/css/checks.css">
{{ end }}

{{ define "scripts" }}{{ end }}
