{{ define "content" }}
<h3 class="page-header">{{ title .Title }}</h3>

<div id="hc_scoreboard">{{/* Init in assets/js/hc_scoreboard.js */}}</div>

<table class="table table-striped table-hover scores-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Points</th>
            <th>CTF</th>
            <th>Services</th>
        </tr>
    </thead>
    <tbody id="result-list">
    {{- range $team := .Data.TeamsScores }}
        <tr id="{{ $team.Name }}">
            {{/* <td class="teamnumber">{{ $team.ID }}</td> */}}
            <td class="teamname">{{ $team.Name }}</td>
            <td class="points">{{ $team.Score }}</td>
            <td class="ctf">{{ $team.CTF }}</td>
            <td class="service">{{ $team.Service }}</td>
            {{/* <td class="other">{{ $team.Other }}</td> */}}
        </tr>
    {{- end }}
    </tbody>
</table>
{{ end }}

{{ define "scripts" }}
    <script src="/assets/js/ws.js"></script>
    <script src="/assets/highcharts/highcharts.js"></script>
    <script src="/assets/highcharts/themes/dark-unica.js"></script>
    <script src="/assets/js/hc_scoreboard.js"></script>
{{ end }}