{{ define "content" }}
{{/* close container, this page is a larger width */}}
</div>

<div class="fullscreen">
    <div id="hc_scoreboard">{{/* Init in assets/js/hc_scoreboard.js */}}</div>

    <noscript>
    <p>If you can't enable Javascript, you can at least get the latest scores <a
        href="/scoreboard?noscript=true">here</a>
    </p>
    </noscript>

    {{ template "services-display-main" . }}
</div>

<div class="container">
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/assets/css/checks.css">
{{ end }}

{{ define "scripts" }}
    <script src="/assets/highcharts/highcharts.js"></script>
    <script src="/assets/highcharts/themes/dark-unica.js"></script>
    <script src="/assets/js/hc_scoreboard.js"></script>

    <script src="/assets/js/serviceWs.js"></script>
{{ end }}
