{{ define "content" }}
{{ template "services-display-main" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/assets/css/checks.css">
{{ end }}

{{ define "scripts" }}
    <script src="/assets/js/serviceWs.js"></script>
{{ end }}
