{{- template "header" . }}
<h3 class="page-header">{{ title .Title }}</h3>
<div class="row">
    <div id="status"></div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <!-- START -->
        <div class="group">
            <div class='square-box'>
                <div class='square-content labels'>
                    <div></div>
                </div>
            </div>
            {{ $teams := allBlueTeams }}
            {{ $max := len $teams }}
            {{- range $teams }}
            <div class='square-box'>
                <div class='square-content labels'>
                    <div><span>
                        <small>TEAM</small>
                        <b class='teamnumber'>{{ .Number }}</b>
                    </span></div>
                </div>
            </div>
            {{- end }}
        </div>
        {{- range serviceList }}
        <div class='group' data-check='{{ . }}'>
            <div class='square-box'>
                <div class='square-content labels-vert'>
                    <div><span>{{ . }}</span></div>
                </div>
            </div>
            {{- range getStatus . }}
            <div class='square-box'>
                <div class='square-content'>
                    {{- if eq .Details "Status: 0" }}
                    <div><span class="fa fa-arrow-circle-up text-success" data-team={{ .Teamnumber }} aria-hidden="true"></span></div>
                    {{- else if eq .Details "Status: 2" }}
                    <div><span class="fa fa-arrow-circle-down text-danger blink" data-team={{ .Teamnumber }} aria-hidden="true"></span></div>
                    {{- else if eq .Details "Status: 1" }}
                    <div><span class="fa fa-exclamation-circle text-warning" data-team={{ .Teamnumber }} aria-hidden="true"></span></div>
                    {{- else }}
                    <div><span class="fa fa-question-circle text-muted" data-team={{ .Teamnumber }} aria-hidden="true"></span></div>
                    {{- end }}
                </div>
            </div>
            {{- end }}
        </div>
        {{- end }}
        <!-- End -->
    </div>
</div>
{{- template "footer" . }}
