.service-statuses,
.sv-row,
.sq {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.sv-row,
.sq {
    flex-flow: column nowrap;
}

.sv-row {
    flex-basis: 8.0em;
}

.sv-row .sq:first-child {
    flex-grow: 1;
}

.sq-label.sq-team,
.sq-label.sv-help {
    text-align: end;
}

.sq {
    color: white;
    border: 1px solid #252525;
    font-weight: bold;
    text-align: center;

    min-height: 2.5em;
    min-width: 4em;
}

.sq-label {
    border: 0;
    padding: 0 .4em;
    text-shadow: 1px 1px 10px #888;
}

.sq .fa {
    font-size: 2.25em;
    filter: contrast(200%);
}


@media (max-width: 768px) {
    /* Transpose services display matrix */
    .service-statuses {
        flex-flow: column wrap;
        display: inline-flex;
        align-content: flex-start;
    }
    .sv-row {
        flex-flow: row nowrap;
        flex-basis: auto;
        justify-content: flex-start;
    }

    /* adjust row sizes, add banding effect, tilt team names upwards */
    .sq {
        font-size: 0.8em;
        min-height: 4em;
    }
    .sq .fa {
        font-size: 3em;
    }
    .sv-row:nth-child(even) {
        background-color: #141414;
    }
    .sq-label.sq-team {
        transform: rotate(-80deg);
        text-align: center;
        align-items: flex-end;

        max-width: 3.75em;
    }
    .sv-help {
        align-items: center;
    }
}

/* Phonies */
@media (max-width: 450px) {
    .sq {
        font-size: .6em;
        min-height:5em;
    }

    .sq-service {
        font-size: .74em;
    }
}


/* Help popup ('i' icon) */
.sq-label.sv-help {
    cursor: help;
    z-index: 1;
    background: none;
    outline: none;
}

.sv-help-content {
    display: none;

    flex-direction: column;
    align-items: start;

    background: #1e1e1e;
    border: 1em double white;
    position: absolute;

    font-size: 1.5em;
    padding: 1em;
}
.sv-help:hover  .sv-help-content,
.sv-help:focus .sv-help-content {
    display: flex;
}
.sv-help-content .fa,
.sv-help-error {
    text-shadow: none;
}
.sv-help-content .explain {
    font-size: 1.5em;
    font-weight: 700;
    padding: .4em;
}


.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.31, 0.12, 0.75, 0.92);
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%   { opacity: 1.0; }
    50%  { opacity: 0.15; }
    100% { opacity: 1.0; }
}

.no-animate, .no-animate * {
    animation: none !important;
}

