label {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #64CB2D;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #5DFC0A;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #5DFC0A;
    background-color: transparent;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #5DFC0A;
    background-color: transparent;
}

.navbar-inverse .navbar-link {
    color: #64CB2D;
}

a.list-group-item,
button.list-group-item {
    color: #64CB2D;
}

select {
    color: #454545;
}

.btn-default {
    color: #64CB2D;
    background-color: #424242;
    border-color: #424242;
}

.btn-default:hover {
    color: #5DFC0A;
    background-color: #282828;
    border-color: #232323;
}

div.jumbotron video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #5DFC0A;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #64CB2D;
    background-color: #060606;
}

.badge {
    padding: .25rem .4rem;
    font-size: 75%;
    border-radius: .25rem;
}

#flag-panel {
    color: #64CB2D;
}

.huge {
    font-size: 30px;
    line-height: normal;
}

#hc_scoreboard {
  min-width: 300px;
  max-width: 1600px;
  height: 400px;
  background-color: #333;
  margin: 0 auto;
}

.placeholder {
    color: #848484;
    font-style: italic;
}

table.scores-table {
    table-layout: fixed;
}

.challenge-list,
.flag-file-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.challenge-list > div > button,
.flag-file-list > a > div {
    margin: .8em auto;
}

.flag-file-list .fa {
    margin-right: .3em;
}

.challenge-list .btn .fa {
    position: absolute;
    left: .1em;
    top: .2em;
    font-size: 1.4em;
}

.negate {
    filter: hue-rotate(180deg) invert(100%);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
