{{ define "base" -}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{.Title}} - CNYHackathon</title>
  <link rel="icon" href="data:,"> {{/* empty favicon */}}

  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  {{ block "styles" . }}{{ end }}
</head>
<body>
  {{- template "header"  . -}}
  {{- if .Error }}
    {{- template "oopsie" . }}
  {{- else }}
    {{-    block "content" . -}}{{ end }}
  {{- end }}
  {{- template "footer"  . -}}
</body>
</html>
{{ end }}

{{ define "header" }}
<div class="container">
  <nav class="navbar custom-navbar navbar-expand-md mb-md-4 mb-3 p-0 rounded-bottom">
    <a class="navbar-brand nav-link mr-2" href="https://www.cnyhackathon.org/">CNY Hackathon</a>
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navcol-1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home </a></li>
        <li class="nav-item"><a class="nav-link" href="/scoreboard">Scoreboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/challenges">Challenges</a></li>
      </ul>
      <ul class="navbar-nav">
        {{ if .T }}
        <li class="nav-item dropdown mr-md-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            {{ .T.Name }}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right m-md-0">
            {{ if isCtfStaff .T}}
            <a class="dropdown-item" href="/staff/ctf_dashboard"><i class="fa fa-tachometer"></i> CTF Dashboard</a>
            <a class="dropdown-item" href="/staff/ctf"><i class="fa fa-flag"></i> Edit CTF Challenges</a>
            {{ end }}
            {{ if isAdmin .T}}
            <a class="dropdown-item" href="/admin/teams"><i class="fa fa-user-plus"></i> Edit Teams</a>
            <a class="dropdown-item" href="/admin/services"><i class="fa fa-server"></i> Edit Checks</a>
            <a class="dropdown-item" href="/admin/services/scripts"><i class="fa fa-code"></i> View/Run Check Scripts</a>
            <a class="dropdown-item" href="/admin/bonuses"><i class="fa fa-star"></i> Award/Dock Points</a>
            <!-- <a class="dropdown-item" href="/admin/logs"><i class="fa fa-tree"></i> Logs</a> -->
            {{ end }}
            {{ if isBlueteam .T}}
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            {{ end }}
            <a class="dropdown-item" href="/logout">Logout</a>
          </ul>
        </li>
        {{ else }}
        <li class="nav-item mr-md-2"><a class="nav-link" href="/login">Login</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>
  {{/* container div is left dangling for convenience */}}
{{ end }}

{{ define "oopsie" }}
<div class="jumbotron">
  <h2>Oh no...</h2>
  <div class="row text-center">
    <p>💀 Something went wrong... 💀</p>
    <p>Pinch yourself to make sure you're still breathing.</p>
    {{ if isAdmin .T }}<p class="error text-danger">Error: {{ .Error }}</p>{{ end }}
    </div>
</div>
{{ end }}

{{ define "footer" }}
  </div>

  <script src="/assets/lib/jquery/jquery.min.js"></script>
  <script src="/assets/lib/bootstrap/js/popper.min.js"></script>
  <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
  {{ block "scripts" . }}{{ end }}
{{ end }}
